.pp_loyalty_dial {
    background-image: url(https://raw.githubusercontent.com/klingeling/18xx-i18n-plugin/main/images/loyalty_dial.png) !important;
}

.pp_card_1 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_1.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_2 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_2.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_3 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_3.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_4 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_4.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_5 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_5.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_6 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_6.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_7 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_7.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_8 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_8.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_9 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_9.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_10 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_10.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_11 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_11.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_12 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_12.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_13 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_13.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_14 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_14.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_15 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_15.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_16 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_16.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_17 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_17.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_18 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_18.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_19 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_19.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_20 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_20.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_21 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_21.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_22 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_22.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_23 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_23.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_24 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_24.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_25 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_25.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_26 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_26.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_27 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_27.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_28 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_28.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_29 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_29.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_30 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_30.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_31 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_31.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_32 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_32.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_33 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_33.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_34 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_34.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_35 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_35.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_36 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_36.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_37 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_37.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_38 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_38.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_39 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_39.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_40 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_40.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_41 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_41.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_42 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_42.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_43 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_43.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_44 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_44.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_45 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_45.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_46 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_46.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_47 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_47.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_48 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_48.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_49 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_49.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_50 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_50.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_51 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_51.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_52 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_52.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_53 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_53.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_54 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_54.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_55 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_55.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_56 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_56.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_57 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_57.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_58 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_58.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_59 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_59.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_60 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_60.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_61 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_61.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_62 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_62.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_63 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_63.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_64 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_64.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_65 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_65.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_66 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_66.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_67 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_67.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_68 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_68.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_69 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_69.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_70 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_70.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_71 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_71.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_72 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_72.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_73 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_73.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_74 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_74.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_75 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_75.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_76 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_76.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_77 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_77.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_78 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_78.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_79 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_79.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_80 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_80.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_81 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_81.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_82 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_82.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_83 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_83.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_84 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_84.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_85 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_85.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_86 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_86.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_87 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_87.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_88 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_88.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_89 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_89.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_90 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_90.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_91 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_91.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_92 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_92.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_93 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_93.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_94 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_94.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_95 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_95.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_96 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_96.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_97 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_97.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_98 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_98.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_99 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_99.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_100 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_100.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_101 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_101.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_102 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_102.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_103 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_103.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_104 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_104.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_105 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_105.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_106 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_106.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_107 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_107.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_108 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_108.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_109 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_109.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_110 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_110.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_111 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_111.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_112 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_112.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_113 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_113.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_114 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_114.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_115 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_115.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pp_card_116 {
    background-image: url(https://raw.githubusercontent.com/klingeling/pax-pamir/master/cards/zh-cn/card_116.jpg);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}
