.pr_square_card[data-card-id=EmpireSquare_England_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_England_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_England_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_England_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_France_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_France_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_France_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_France_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Aragon_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Aragon_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Aragon_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Aragon_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_PapalStates_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_PapalStates_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_PapalStates_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_PapalStates_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Portugal_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Portugal_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Portugal_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Portugal_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_HolyRomanEmpire_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_HolyRomanEmpire_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_HolyRomanEmpire_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_HolyRomanEmpire_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Hungary_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Hungary_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Hungary_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Hungary_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Ottoman_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Ottoman_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Ottoman_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Ottoman_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Byzantium_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Byzantium_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Byzantium_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Byzantium_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Mamluk_king] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Mamluk_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=EmpireSquare_Mamluk_republic] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Mamluk_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_renaissance_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_renaissance_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_globalization_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_globalization_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_holy_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_holy_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_imperial_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_imperial_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card[data-card-id=victory_ageOfByzantine_active] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 44.4444444444%;
    background-position-y: 66.6666666667%;
    background-size: 1000% 400%
} */

.pr_square_card[data-card-id=victory_renaissance_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_renaissance_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_globalization_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_globalization_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_holy_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_holy_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_imperial_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_imperial_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card[data-card-id=victory_ageOfByzantine_inactive] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 100%;
    background-position-y: 66.6666666667%;
    background-size: 1000% 400%
} */

.pr_player_board[data-color=blue] {
    background-image: url(https://img.915159.xyz/paxrenaissance/boards_blue.png);
    background-position-x: 0;
    background-size: 100% 100% !important
}

.pr_player_board[data-color=green] {
    background-image: url(https://img.915159.xyz/paxrenaissance/boards_green.png);
    background-position-x: 0;
    background-size: 100% 100% !important
}

.pr_player_board[data-color=purple] {
    background-image: url(https://img.915159.xyz/paxrenaissance/boards_purple.png);
    background-position-x: 0;
    background-size: 100% 100% !important
}

.pr_player_board[data-color=yellow] {
    background-image: url(https://img.915159.xyz/paxrenaissance/boards_yellow.png);
    background-position-x: 0;
    background-size: 100% 100% !important
}

/* .pr_player_board[data-color=black] {
    background-image: url(img/player_boards3.png);
    background-position-x: 0
} */

/* .pr_player_board[data-color=white] {
    background-image: url(img/player_boards3.png);
    background-position-x: 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_Hungary_king][data-map-type=ageOfReformation] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 0;
    background-position-y: 100%;
    background-size: 100% 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_Hungary_republic][data-map-type=ageOfReformation] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 11.1111111111%;
    background-position-y: 100%;
    background-size: 100% 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_Ottoman_king][data-map-type=ageOfReformation] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 22.2222222222%;
    background-position-y: 100%;
    background-size: 100% 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_Ottoman_republic][data-map-type=ageOfReformation] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 33.3333333333%;
    background-position-y: 100%;
    background-size: 100% 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_PapalStates_king][data-map-type=ageOfReformation][data-religion=reformist] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 44.4444444444%;
    background-position-y: 100%;
    background-size: 100% 100%
} */

/* .pr_square_card[data-card-id=EmpireSquare_PapalStates_king][data-map-type=ageOfReformation][data-religion=islamic] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 55.5555555556%;
    background-position-y: 100%;
    background-size: 100% 100%
} */

.pr_square_card_icon[data-icon=king][data-bank=fugger] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_HolyRomanEmpire_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=king][data-bank=marchionni] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Portugal_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=king][data-bank=coeur] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Mamluk_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=king][data-bank=medici] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_PapalStates_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=king][data-bank=berenberg] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_France_king.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card_icon[data-icon=king][data-bank=mendes] {
    background-position-x: 22.2222222222%;
    background-position-y: 100%
} */

.pr_square_card_icon[data-icon=republic][data-bank=fugger] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_HolyRomanEmpire_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=republic][data-bank=marchionni] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Portugal_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=republic][data-bank=coeur] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_Mamluk_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=republic][data-bank=medici] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_PapalStates_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card_icon[data-icon=republic][data-bank=berenberg] {
    background-image: url(https://img.915159.xyz/paxrenaissance/EmpireSquare_France_republic.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card_icon[data-icon=republic][data-bank=mendes] {
    background-position-x: 33.3333333333%;
    background-position-y: 100%
} */