.pr_square_card[data-card-id=victory_renaissance_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_renaissance_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_globalization_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_globalization_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_holy_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_holy_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_imperial_active] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_imperial_active.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card[data-card-id=victory_ageOfByzantine_active] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 44.4444444444%;
    background-position-y: 66.6666666667%;
    background-size: 1000% 400%
} */

.pr_square_card[data-card-id=victory_renaissance_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_renaissance_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_globalization_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_globalization_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_holy_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_holy_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

.pr_square_card[data-card-id=victory_imperial_inactive] {
    background-image: url(https://img.915159.xyz/paxrenaissance/victory_imperial_inactive.png);
    background-position-x: 0;
    background-position-y: 0;
    background-size: 100% 100%
}

/* .pr_square_card[data-card-id=victory_ageOfByzantine_inactive] {
    background-image: url(img/square_cards.jpg);
    background-position-x: 100%;
    background-position-y: 66.6666666667%;
    background-size: 1000% 400%
} */
